<%
    var year = (new Date()).getFullYear();
%>
<div class="wrapper footer-wrapper">
    <div class="container"><span class="copyright">&copy; <%=year%> FutuWeb Team. All Rights Reserved.</span></div>
</div>