<section class="wrapper main-wrapper">
    <article class="sub-container post-content">
        <%-page.content%>
    </article>
    <section class="sub-container">
        <%- partial('laibili') %>
    </section>
</section>