<div class="wrapper main-wrapper">
    <div class="sub-container post-content">
        <%-page.content%>
    </div>
    <div class="sub-container">
        <%- partial('laibili') %>
    </div>
</div>